<ion-view view-title="Cronologia" ng-controller="CronologiaCtrl">
  <ion-content class="padding" >
      <section id="cd-timeline" class="cd-container">
        <div ng-repeat="entrata in entrate" href="#/app/cronologia/{{entrata.id_utente}}">

          <div class="cd-timeline-block">

            <div class="cd-timeline-picture text-center dark">
              <img ng-src="/img/{{activity.profilePicture}}"></img>
            </div>

            <div class="cd-timeline-content padding dark">
            	<h5 class="marginBottom0 marginTop0">{{entrata.nome}}</h5>
            	<p class="marginTop5 cd-author">ciao2</p>
            	<p class="timelineText">ciao3</p>
            </div>
          </div>
        </div>
      </section>
  </ion-content>
</ion-view>
