<ion-view view-title="Profilo" cache-view="false">
  <style>

  .buttonsBar{
      display:flex;
      justify-content:space-around;
      margin:10px;
      border-radius:40px;
      background-color:rgba(60,113,249,0.4);
      height: 40px;
  }


  .barButton{
    height: 100%;
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 55px;
    font-size: 4vw;
    color:black;
    border-radius:45px;
    width: 33%;
    background-color:rgba(60,113,249,0);
    z-index: 1;
    padding: 0 8px;
    min-width: initial;
    min-height: 31px;
    font-weight: 400;
    line-height: 32px;
    border-color: transparent;
  }

  .selezionato {
    background-color:rgba(60,113,249,1);
  }


  </style>

  <ion-content >
    <div class="positive-bg" style="height:35%;text-align:center;">
        <h3>Il tuo bilancio è: <h3>
        <h2>{{utente.saldo}} €<h2>
    </div>

    <div>
    <div class="buttonsBar">
      <button class="barButton " ng-click="selezionaPeriodo(1)" ng-class="{'selezionato': tabAttivo == 1}">Mese</button>
      <button class="barButton " ng-click="selezionaPeriodo(2)" ng-class="{'selezionato': tabAttivo == 2}">Settimana</button>
      <button class="barButton " ng-click="selezionaPeriodo(3)" style="float:right" ng-class="{'selezionato': tabAttivo == 3}">Giorno</button>
    </div>
  </div>


    <div >
    <div id="chart_div" style="width: 90%; height: 20%;"></div>
  </div>
  </ion-content>
</ion-view>
