<ion-view view-title="Registrazione" hide-nav-bar="true" cache-view="false">
  <ion-content>
    <h1 style="text-align: center; padding-top: 30px;">Portafoglio</h1>
    <h3 style="text-align: center;font-style: italic;padding-bottom: 30px">Registrazione</h3>

    <ion-list>
      <label class="item item-input">
        <i class="icon ion-person placeholder-icon"></i>
        <input type="text" placeholder="Nome" ng-model="data.Nome" />
      </label>


      <div class = "item item-toggle">
        Ricorda
        <label class="toggle">
          <input type="checkbox" ng-model="loginData.remember"/>
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </ion-list>

    <div align="center" style="margin: 10px">
      <button class="button button-positive button-full" ng-click="doLogin()">
        Login
      </button>
      Non hai un account? <a href="#">Registrati</a>
    </div>
  </ion-content>
</ion-view>
