<ion-view view-title="Ricerca" >



    <ion-content style="padding-top:30px" >
<style>

.icon1 {
    position: absolute;
    top: 30%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    display: block;

}
</style>
  <div >
    <div class="row">
      <div  class="col" style="border: solid 1px grey; color:grey; height:40px; margin-top:10px" ng-click="setVisibile()">
          {{cat}}
      </div>
      <div class="col">
        <button class="button icon-left ion-close button-positive "style="width:90%" ng-click="azzera()">Azzera</button>
      </div>

    </div>

    <div class="row">
      <div class="col" style="border: solid 1px grey; color:grey; height:40px;margin-top:10px">
          {{data}}
      </div>

      <div class="col">
        <button class="button icon-left ion-search button-positive" style="width:90%">Ricerca</button>
      </div>

    </div>
  </div>




        <div  style="display:{{visibile}}">
          <div class="row" ng-repeat="sottocategoria in categorie">
            <div class="col-33" ng-repeat="categoria in sottocategoria" >
              <button class="button" style="width:95%;margin:5px" ng-click="selezionaCat(categoria.tipo)">
                <i  class="icon1 {{categoria.descrizione}} " style="font-size:11vw">
                </i>
                <br>
                <span style="font-size:3vw;white-space:nowrap ">
                  {{categoria.tipo}}
                </span>

              </button>

            </div>
          </div>
        </div>



  </ion-content>
</ion-view>
